@model Login.Models.DashboardViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/css/styles2.css">
</head>

<body>
    <div>
        <h1>ASUS STATIONS PASS</h1>
        <form id="filterForm" name="filternameform">
            <label for="date">Data:</label>
            <input type="date" id="date" name="date">

            <label for="modelinput">Modelo</label>
            <select id="modelinput" name="model">
                @foreach (var Models in Model.ModelsList)
                {
                    <option value="@Models.Id">@Models.Modelname</option>
                }
            </select>

            <label for="customerinput">Customer</label>
            <select id="customerinput" name="model">
                @foreach (var customer in Model.CustomersList)
                {
                    <option value="@customer.Id">@customer.Customername</option>
                }
            </select>

            <button id="buttonidform" type="submit">Filter</button>
        </form>
    </div>

    <canvas id="myChart" width="400" height="200"></canvas>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <h2>Informações da Estação</h2>
            <p id="stationDetails">Detalhes da estação...</p>
        </div>
    </div>

</body>
</html>

<script src="~/js/Charts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js" integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("buttonidform").click();
    });
</script>
